<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Team| Ronin Racing</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
  <a class="navbar-brand" href="/">Ronin Racing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/spons/">Sponsors</a>
      </li>
      <li class="nav-item active">
        <a href="/team/" class="nav-link">Team</a>
      </li>
      <li class="nav-item">
      	<a href="/quiz/exam/" class="nav-link">Quiz</a>
      </li>
    </ul>
    {% if auth %}
      <a href="/auth/logout/" class="nav-link" style="color: white;">Logout</a>
    {% else %}
      <a href="/auth/login/" class="nav-link" style="color: white;" >Login</a>
      <a href="/auth/signup/" class="nav-link" style="color: white;">Sign Up</a>
    {% endif %}
  </div>
</div>
</nav>
<div class="header" style="background-color: #4d4d4d; padding: 100px;">
	<center>
		<h1 style="color: white;">A Genuine Group <br> Of Car Makers</h1>
		<p style="color: white;">The secret to truly successful work isn’t just about <br> technology; it’s about working with the right people.</p>
	</center>
</div>
<br><br><br>
<div class="container">
    <center><h1 style="background-color: #4d4d4d; color: white; width: 500px;">Department Heads</h1> </center>
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" height=280px>
                    <div class="card-body">
                        <p class="card-text"><center>Ravikant Tiwari <br> Captain <br>Mechanical IIIrd Yr <br><a href="mailto:shikarukiravikant@gmail.com">shikarukiravikant@gmail.com<br></a>+91 77 024 89394 <br><br> </center></p>
			  </div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="card" style="width: 18rem; margin: 3px;">
			  <img class="card-img-top" src="{% static 'img/himanshu.jpg' %}" alt="Card image cap" height=280px>
			  <div class="card-body">
			    <p class="card-text"><center>Himanshu Sahu <br> Vice Captain <br>Mechanical IIIrd Yr <br><a href="mailto:himanshusahu@student.nitw.ac.in">himanshusahu@student.nitw.ac.in<br></a>+91 78 917 39144 <br><br> </center></p>
			  </div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" height=280px>
                    <div class="card-body">
                        <p class="card-text"><center>Ayushi <br> Chief of Electrical & Organising Department  <br>Mechanical IIIrd Yr <br><a href="mailto:iamayushi9473@gmail.com">iamayushi9473@gmail.com<br></a>+91 79 798 04850 <br> </center></p>
			  </div>
			</div>
		</div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/swapnil2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text"><center>Swapnil Soni <br> Design Head <br>Mechanical IInd Yr <br><a href="mailto:swapnilsoni1210@gmail.com">swapnilsoni1210@gmail.com</a><br>+91 95 157 59103 <br><br> </center></p>
                    </div>
                    </div>
        </div>
	</div>
</div>
<br><br>
<div class="container">
    <center><h1 style="background-color: #4d4d4d; color: white; width: 500px;">Design Department</h1> </center>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height:270px; width:270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                       <p class="card-text"><center>Sudeep <br> Design <br>Mechanical IIIrd Yr <br><a href="mailto:sudeep.dakshana17@gmail.com">sudeep.dakshana17@gmail.com</a><br>+91 78 972 38625 <br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>XYZ <br> Design <br>Mechanical IIIrd Yr <br><a href="mailto:himanshusahu@student.nitw.ac.in">xyz@student.nitw.ac.in</a><br>xyzabc <br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/shruti.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Thaduri Shruthi<br> Design <br>Civil IInd Yr <br><a href="mailto:Shruthithaduri73734@gmail.com">Shruthithaduri73734@gmail.com</a><br>+91 79 956 93870<br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/divya.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>B. Divya <br> Design <br>Mechanical IInd Yr <br><a href="mailto:bandadivya61@gmail.com">bandadivya61@gmail.com</a><br>9381127401 <br> </center></p>
                    </div>
                    </div>
        </div>
    </div>
</div>


<br><br>
<div class="container">
    <center><h1 style="background-color: #4d4d4d; color: white; width: 500px;">Electicals & Electronics Department</h1> </center>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/rushikesh.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Rushikesh Shendare <br> Electrical & Electronics <br>ECE IInd Yr <br><a href="mailto:rushidamail@gmail.com">rushidamail@gmail.com</a><br>+91 88 064 43951<br> <br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/pratik.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Pratik Salov <br> Electrical & Electronics Data Acquition  <br>ECE IInd Yr <br><a href="mailto:pratiksolav29@gmail.com">pratiksolav29@gmail.com</a><br>+91 88 883 46915 <br> </center></p>
                            </div>
                            </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="card" style="width: 18rem; margin: 3px;">
                            <img class="card-img-top" src="{% static 'img/gayathri.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                <div class="card-body">
                                    <p class="card-text"><center>S Gayathri<br> Electrical & Electronics <br>CSE IInd Yr <br><a href="mailto:gayathrisrikakola@gmail.com">gayathrisrikakola@gmail.com</a><br>+91 63 030 34201<br><br> </center></p>
                                </div>
                                </div>
                    </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/nima.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>Nima K V <br> Battery & BMS <br>ECE IInd Yr <br><a href="mailto:nimasubramanyan@gmail.com ">nimasubramanyan@gmail.com </a><br>+91 95 739 74657 <br><br> </center></p>
                        </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/chandini.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>Pasala Rekha Chandini <br> Battery & BMS <br>EEE IInd Yr <br><a href="mailto:pasalarekha123@gmail.com">pasalarekha123@gmail.com</a><br>+91 93 811 30378 <br> </center></p>
                        </div>
                        </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>Shashwat Mahale <br> Safety & Shutdown Circuit <br>EEE IInd Yr <br><a href="mailto:shashahale@gmail.com">shashahale@gmail.com</a><br>+91 91 68 935034 <br> </center></p>
                        </div>
                        </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/santhosh.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>A Santhosh Reddy<br> Safety & Control System Head <br> EEE IIIrd Yr <br><a href="mailto:santhoshreddyalavala@gmail.com">santhoshreddyalavala@gmail.com</a><br>+91 89 193 52211<br> </center></p>
                        </div>
                        </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>D V S N Pavan Koushik <br> Power Train Head <br>EEE IIIrd Yr <br><a href="mailto:pavankoushikd@gmail.com">pavankoushikd@gmail.com</a><br>+91 99 891 80928 <br> </center></p>
                        </div>
                        </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>M Durga Prasad <br> Battery & BMS Head <br>ECE IIIrd Yr <br><a href="mailto:789durga@gmail.com">789durga@gmail.com</a><br>+91 81 790 73398 <br><br> </center></p>
                        </div>
                        </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>Roshan Mahesh Panuganti <br> Battery & BMS <br>EEE IInd Yr <br><a href="mailto:roshanmp007@gmail.com">roshanmp007@gmail.com</a><br>+91 xyz <br><br> </center></p>
                        </div>
                        </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/nikhil2.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>Nikhil Bharti<br>CAN BUS,tractive System & Active light <br>EEE IInd Yr <br><a href="mailto:nikhilbharti45@gmail.com">nikhilbharti45@gmail.com</a><br>+91 70 916 08545<br> </center></p>
                        </div>
                        </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem; margin: 3px;">
                    <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                        <div class="card-body">
                            <p class="card-text"><center>Avinash Kumar <br> Electrical & Electronics <br>CSE IInd Yr <br><a href="mailto:avinashkr.avanti@gmail.com">avinashkr.avanti@gmail.com</a><br>+91 79 915 30011 <br><br> </center></p>
                        </div>
                        </div>
            </div>
        </div>
    </div>
    
    
    <br><br>
    <div class="container">
                                <center><h1 style="background-color: #4d4d4d; color: white; width: 500px;">Dyanamics Department</h1> </center>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card" style="width: 18rem; margin: 3px;">
                                        <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                            <div class="card-body">
                                                <p class="card-text"><center>Nitish Kumar <br> Dyanamics Head <br>Mechanical IIIrd Yr <br><a href="mailto:kumarnitish0038@gmail.com">kumarnitish0038@gmail.com</a><br>+91 83 405 68104 <br><br> </center></p>
                                            </div>
                                            </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="card" style="width: 18rem; margin: 3px;">
                                        <img class="card-img-top" src="{% static 'img/madhav2.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                            <div class="card-body">
                                                <p class="card-text"><center>Sai Madhav <br> Steering <br>EEE IInd Yr <br><a href="mailto:saimadhav890@gmail.com">saimadhav890@gmail.com</a><br>+91 73 824 87156 <br><br> </center></p>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                                    <div class="card" style="width: 18rem; margin: 3px;">
                                                    <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                                        <div class="card-body">
                                                            <p class="card-text"><center>Siddharth<br> Steering <br>Mechanical IInd Yr <br><a href="mailto:siddharthsingh101098@gmail.com ">siddharthsingh101098@gmail.com </a><br>+91 80 039 57986<br> </center></p>
                                                        </div>
                                                        </div>
                                            </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem; margin: 3px;">
                                            <img class="card-img-top" src="{% static 'img/navinash.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                                <div class="card-body">
                                                    <p class="card-text"><center>Avinash Natarajan<br> Steering <br>Mechanical IInd Yr <br><a href="mailto:natarajanavinash2000@gmail.com ">natarajanavinash2000@gmail.com </a><br>+91 94 921 48590 <br> </center></p>
                                                </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem; margin: 3px;">
                                            <img class="card-img-top" src="{% static 'img/hemanth2.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                                <div class="card-body">
                                                    <p class="card-text"><center>KHS Hemanth <br> Suspension <br>Mechanical IInd Yr <br><a href="mailto:khshemanth7799@gmail.com">khshemanth7799@gmail.com</a><br>+91 76 758 81716 <br><br> </center></p>
                                                </div>
                                                </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem; margin: 3px;">
                                            <img class="card-img-top" src="{% static 'img/sahil2.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                                <div class="card-body">
                                                    <p class="card-text"><center>Sahil Patil <br> Braking <br>Mechanical IIIrd Yr <br><a href="mailto:patilsahil2222@gmail.com">patilsahil2222@gmail.com</a><br>+91 95 421 76828 <br><br> </center></p>
                                                </div>
                                                </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem; margin: 3px;">
                                            <img class="card-img-top" src="{% static 'img/shailesh2.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                                <div class="card-body">
                                                    <p class="card-text"><center>Shailesh Hanmante<br> Braking <br> Mechanical IInd Yr <br><a href="mailto:shaileshhanmante111@gmail.com ">shaileshhanmante111@gmail.com</a><br>+91 95 509 70411<br> </center></p>
                                                </div>
                                                </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem; margin: 3px;">
                                            <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                                                <div class="card-body">
                                                    <p class="card-text"><center>XYZ <br> Suspension <br> IInd Yr <br><a href="mailto:xyz@gmail.com">xyz@gmail.com</a><br>+91 85 277 41952 <br><br> </center></p>
                                                </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
    
    


<br><br>
<div class="container">
    <center><h1 style="background-color: #4d4d4d; color: white; width: 500px;">Organising Department</h1> </center>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/pakya.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Pradnyavant Gaikwad <br> Sponshorship <br>Mechanical IIIrd Yr <br><a href="mailto:gaikwadpradnyavant358@gmail.com">gaikwadpradnyavant358@gmail.com</a><br>+91 98 340 20367 <br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Arpit Goyal <br> Media & PR <br>EEE IInd Yr <br><a href="mailto:arpitpali68@gmail.com">arpitpali68@gmail.com</a><br>+91 63 772 24725 <br><br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/shalini2.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Shalini Sai<br> Sponshorship <br>Chemical IInd Yr <br><a href="mailto:shalinisaipadamata@gmail.com">shalinisaipadamata@gmail.com</a><br>9492715505<br><br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/likhitha3.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>K. Likhitha Rathod <br> Sponshorship <br>Mechanical IInd Yr <br><a href="mailto:klikhitha121@gmail.com">klikhitha121@gmail.com</a><br>+91 63 030 35321 <br><br> </center></p>
                    </div>
                    </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/snehdeep.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Snehdeep Kumar <br> Sponshorship <br>Biotech IIIrd Yr <br><a href="mailto:sinhasnehdeep@gmail.com">sinhasnehdeep@gmail.com</a><br>+91 80 845 89015 <br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Sai Teja Ch <br> Web Developer <br>EEE IIIrd Yr <br><a href="mailto:ch1sai2teja3@gmail.com">ch1sai2teja3@gmail.com</a><br>+91 72 078 62343 <br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/nophoto.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Yash<br> Web Developer <br> IIIrd Yr <br><a href="mailto:xyz4@gmail.com">xyz4@gmail.com</a><br>xyzabc<br> </center></p>
                    </div>
                    </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card" style="width: 18rem; margin: 3px;">
                <img class="card-img-top" src="{% static 'img/aakash.jpg' %}" alt="Card image cap" style="height: 270px; width: 270px; padding:30px; border-radius:50%">
                    <div class="card-body">
                        <p class="card-text"><center>Aakash Kumar <br> Web Developer <br>CSE IInd Yr <br><a href="mailto:aakashkumaar074@gmail.com">aakashkumaar074@gmail.com</a><br>+91 85 277 41952 <br> </center></p>
                    </div>
                    </div>
        </div>
    </div>
</div>

</body>
</html>
